@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

.ThisSite {
    font-family: "Noto Serif JP", serif;
    text-align: center;
    }
    .ThisSite .ThisGame {
    font-size: 100px;
}

.title {
    font-size: 300%;
}

.explanationOne {
    font-size: 45px;
}

.explanationTwo {
    font-size: 25px;
}

.flex {
    display: flex; /*横並び*/
  }
  .flex .image {
    width: 340px; /*画像サイズ指定*/
    height: 320px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
  }
  .flex .text {
    margin: 0 0 0 20px;
    padding: 0;
}