@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

.Main {
  font-family: "Noto Serif JP", serif;
  text-align: center;
}

.Creator {
  font-family: "Noto Serif JP", serif;
}

.Creator a {
  text-align: center;
  font-size: 25px;
}

.CreatorName {
  font-size: 80px;
}

.ElectronicCommerce {
  font-family: "Noto Serif JP", serif;
  text-align: center;
}

.ElectronicCommerce mail {
  width: 100px;
  height: 70px;
}

.ElectronicCommerce p {
  font-size: 25px;
}