@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

.ThisSite {
    font-family: 'DotGothic16';
    text-align: center;
}

.title {
    font-size: 300%;
}

.explanationOne {
    font-size: 45px;
}

.explanationTwo {
    font-size: 25px;
}